@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    min-height: 200vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky{
    padding: 5px 100px;
    background: #fff;
}

header .logo{
  
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px ;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-size: 15px;
}

.fox img{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(images/flag);
    background-size: cover;
}

header.sticky .logo,
header.sticky ul li a{
    color: #000;
}


.dropdown{
    position: relative;
    display: inline-block;
    padding: 20px;
    background-color: red;

}

.drop{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px ;
    z-index: 1;
}

.dropdown:hover .drop{
    display: block;
}

Kompyuter va ofis
Maishiy elektronika
Zargarlik buyumlari va aksessuarlar
Uy va bogʻ
Bagaj va sumkalar
O'yinchoqlar va bolalar buyumlari
Sport va ko'ngil ochish
Go'zallik va Sog'liq
Avto va Moto mahsulotlar
Uy bezatish va ta'mirlash
Soch oʻstirish va pariklar
Kanselyariya mollari va kitoblar
Toʻylar va tadbirlar
Xavfsizlik va himoya
Maishiy texnika
Soatlar
Poyafzal
Bolalar uchun
Kiyim aksessuarlari
Chiroqlar va yorugʻlik
Yangilik va maxsus foydalanish
Vositalar
Ichki kiyim va pijamalar